*.class

# Package Files #
*.jar
*.war
*.ear
*.db
*.log
rapid-core/velocity.log
target/*
.svn/*
rapid-plugins/target/*
archetypes/target/*
archetypes/rapid-flex-hibernate/target/*
archetypes/rapid-springmvc-hibernate/target/*
archetypes/rapid-springmvc-ibatis/target/*
archetypes/rapid-springmvc-mybatis/target/*
rapid-core/target/*
/rapid-generator/target
/rapid-generator/rapid-generator/target

/rapid-generator/rapid-generator-template/target

/rapid-generator/rapid-generator-cmd-line/target
/rapid-generator/rapid-generator-ext/target
